<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<p><a th:href="@{/th/index}"   style="font-size: 20px;">点击返回</a></p>



<!--<li>-->
    <!--<a th:switch="${registerStatus}">-->
        <!--<p th:case="1" style="font-size: 20px"><h1 th:text="${message}"></h1></p>-->
        <!--<p th:case="0" style="font-size: 20px"><h1 th:text="${message}"></h1></p>-->
    <!--</a>-->
<!--</li>-->
</body>
</html>