<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwclr.provide.mapper.BusMembersMapper" >
  <resultMap id="BaseResultMap" type="com.wwclr.provide.pojo.BusMember" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="memberCode" property="memberCode" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="memberType" property="memberType" jdbcType="INTEGER" />
    <result column="effectTime" property="effectTime" jdbcType="TIMESTAMP" />
    <result column="failureTime" property="failureTime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lastModify" property="lastModify" jdbcType="TIMESTAMP" />
    <result column="logicalDeleted" property="logicalDeleted" jdbcType="BIT" />
  </resultMap>
  <select id="findMemberByUserId" resultType="com.wwclr.provide.pojo.BusMember" parameterType="com.wwclr.provide.pojo.BusMember">
    <![CDATA[
  SELECT * FROM bus_members WHERE userId =#{busMember.userId} AND logicalDeleted =1
  ]]>
  </select>
</mapper>