<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwclr.provide.mapper.DrugPostRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wwclr.provide.pojo.DrugPostRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="postCode" property="postCode" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="ifTop" property="ifTop" jdbcType="BIT" />
    <result column="ifEssence" property="ifEssence" jdbcType="BIT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="shortDescribe" property="shortDescribe" jdbcType="VARCHAR" />
    <result column="getStarNumber" property="getStarNumber" jdbcType="INTEGER" />
    <result column="getBrowseNumber" property="getBrowseNumber" jdbcType="INTEGER" />
    <result column="imageUrl" property="imageUrl" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lastModify" property="lastModify" jdbcType="TIMESTAMP" />
    <result column="logicalDeleted" property="logicalDeleted" jdbcType="BIT" />
  </resultMap>


  <select id="findAllRecord" resultType="com.wwclr.provide.pojo.DrugPostRecord">
    <![CDATA[
 SELECT * FROM drug_post_record
  ]]>
  </select>

  <select id="findTopThreeRecord" resultType="com.wwclr.provide.pojo.DrugPostRecord">
  <![CDATA[
 SELECT * FROM drug_post_record ORDER BY case when  ifTop =1  THEN 1 ELSE 2 END and logicalDeleted =1 LIMIT 3
  ]]>
  </select>

  <select id="findRecordByPostCode" resultType="com.wwclr.provide.pojo.DrugPostRecord">
    <![CDATA[
 SELECT * FROM drug_post_record WHERE postCode=#{postCode} and logicalDeleted =1
  ]]>
  </select>

</mapper>