<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwclr.consumer.mapper.BusDrugDetailMapper">
  <resultMap id="BaseResultMap" type="com.wwclr.consumer.pojo.BusDrugDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="drugCode" jdbcType="VARCHAR" property="drugCode" />
    <result column="drugName" jdbcType="VARCHAR" property="drugName" />
    <result column="drugImgUrl" jdbcType="VARCHAR" property="drugImgUrl" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="drmodel" jdbcType="VARCHAR" property="drmodel" />
    <result column="pack" jdbcType="VARCHAR" property="pack" />
    <result column="packUnit" jdbcType="VARCHAR" property="packUnit" />
    <result column="crateTime" jdbcType="TIMESTAMP" property="crateTime" />
    <result column="lastModify" jdbcType="TIMESTAMP" property="lastModify" />
    <result column="logicalDeleted" jdbcType="BIT" property="logicalDeleted" />
  </resultMap>

</mapper>