<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwclr.consumer.mapper.DrugPurchaseRecordMapper">
  <resultMap id="BaseResultMap" type="com.wwclr.consumer.pojo.DrugPurchaseRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="purchaseCode" jdbcType="VARCHAR" property="purchaseCode" />
    <result column="drugCode" jdbcType="VARCHAR" property="drugCode" />
    <result column="drugName" jdbcType="VARCHAR" property="drugName" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="purchaseNumber" jdbcType="INTEGER" property="purchaseNumber" />
    <result column="crateTime" jdbcType="TIMESTAMP" property="crateTime" />
    <result column="lastModify" jdbcType="TIMESTAMP" property="lastModify" />
    <result column="logicalDeleted" jdbcType="BIT" property="logicalDeleted" />
  </resultMap>
</mapper>