<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwclr.consumer.mapper.DrugRecommendMapper">
  <resultMap id="BaseResultMap" type="com.wwclr.consumer.pojo.DrugRecommend">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="drugCode" jdbcType="VARCHAR" property="drugCode" />
    <result column="recommendTime" jdbcType="INTEGER" property="recommendTime" />
    <result column="recommendStartTime" jdbcType="TIMESTAMP" property="recommendStartTime" />
    <result column="recommendEndTime" jdbcType="TIMESTAMP" property="recommendEndTime" />
    <result column="crateTime" jdbcType="TIMESTAMP" property="crateTime" />
    <result column="lastModify" jdbcType="TIMESTAMP" property="lastModify" />
    <result column="logicalDeleted" jdbcType="BIT" property="logicalDeleted" />
  </resultMap>
</mapper>